<!DOCTYPE HTML>
<html>
<head> 
		<title>Click Managua</title>
		{% block css %}<link rel="stylesheet" href="/media/css/estilo.css">{% endblock %}
		
		<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
		<base href="http://www.clickmanagua.com/" />
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="robots" content="index, follow" />
		<meta name="keywords" content="clickmanagua, managua, eventos, locales, Nicaragua" />
		<meta name="description" content="clickmanagua, informacion variada con un solo click " />
</head>
<body>
<header>
		<!-- <img src="/media/images/django-logo-positive.png"/> -->
		<div class="Header-png"></div>
		<div class="Header2-png"></div>
		<div class="artmenu1"></div>
		<div class="artmenu2"></div>
		<div class="contentLayout">
		<div class="content">
		<div class="right">
		</div>
		</div>
		</div>
		
		<nav>
				<a href="#">Inicio</a>
				<a href="#">Categoria</a>
				<a href="#">Eventos</a>
				<a href="#">Artistas</a>
				<a href="#">Cartelera</a>
				<a href="#">Politicas del Sitio</a>
		</nav>
		<div class="Footer-background"></div>
</header>
</body>
</html>